.place-card{
    width: 200px;
    height: 250px;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
    margin: 5px;
    .place-card-img{
        width: 100%;
        height: 60%;
        background-color: red;
        border-radius: 10px 10px 0 0;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .place-card-content{
        padding: 10px;
        .place-card-content-title{
            font-weight: 500;
        }
        .place-card-content-category{
            font-size: 10px;
        }
        .menu-card-price{
            padding: 5px;
            background-color: $morado;
            border-radius: 10px;
            color: white;
            text-align: center;
        }
    }
}